body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('Images/WhatsApp\ Image\ 2023-08-10\ at\ 6.28.57\ PM.jpeg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Adding transparency to the navbar background */
    color: white;
    padding: 10px 20px;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.6); /* Adding transparency to the mobile menu background */
        width: 100%;
        transition: left 0.3s ease-in;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo a {
        font-size: 32px;
    }
}

.logo img {
    width: 6%;
}