body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.background {
    background-image: url('Images/IMG_20230730_123755.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6); /* Adding transparency to the navbar background */
    color: white;
    padding: 10px 20px;
}

.logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.6); /* Adding transparency to the mobile menu background */
        width: 100%;
        transition: left 0.3s ease-in;
    }

    .nav-links.active {
        left: 0;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        margin-bottom: 10px;
    }

    .logo a {
        font-size: 32px;
    }
}

.logo img {
    width: 6%;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.profile-photo {
    flex: 1;
    text-align: center;
}

.profile-info {
    flex: 2;
    color: white;
    padding: 20px;
}

.profile-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 5px;
}
.profile-photo img {
    width: 50%;
    max-width: 150px; /* Optional: Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio */
    border-radius: 25%; /* Rounded border for circular images */
}

.profile-info {
    flex: 2;
    color:black;
    padding: 20px;
    font-family: 'Your Chosen Font', sans-serif; /* Replace with the desired font name */
}

.profile-info h1 {
    font-size: 36px;
    margin-bottom: 10px;
    
    /* Additional styles for the h1 element */
}

.profile-info h2 a{
    font-size: 24px;
    color: black; /* Change color for h2 elements */
    margin-bottom: 5px;
    text-decoration: none;
    /* Additional styles for the h2 elements */
}
